.profile_container {
    /* background-color: aquamarine; */
    width: 500px;
    margin: auto;
}
.profile_main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.profile_main img {
    border-radius: 50%;
    width: 250px;
    margin-bottom: 10px;
}
.profile_name {
    font-size: 30px;
}
.profile_email {
    font-size: 20px;
    color: gray;
}